body {
    font-size: 16px;
    font-family: system-ui;
    background:-webkit-radial-gradient(top left, #90F6FB,#2C3283);
    /* background: url(../images/images1.jpeg); */
}

.form{
    width: 100%;
}
h2 {
    text-align: center;
    color: #ef6e58;
}
form {
    width: 300px;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 4% auto;
    margin-bottom: 80px;
    height: 500px;
}
label {
    display: block;
    margin-bottom: 5px
}
/* label i {
    color: #999;
    font-size: 80%;
} */
input {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #a9bae64a;
}
.box {
    padding-bottom: 10px;
    align-items: center;
}
.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}
#errorBox{
    color: red ;
}
input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #ef6e58;
    border-color: #ef6e58;
    box-shadow: 0 3px 0 #bd432e;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #bd432e;
    border-color: #bd432e;
}
.input-1{
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:1px solid #01cc40;
}
.input-2{
    background-image: url(../images/cancel.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:1px solid red ;
}
.input-3{
    border:1px solid #01cc40!important;
}

.input-4{
    border:1px solid red;
}
#emailErr{
    color: red;
    font-size: small;
}
#firstnameErr{
    color: red;
    font-size: small;
}#lastnameErr{
    color: red;
    font-size: small;
}
#mobileErr{
    color: red;
    font-size: small;
}
#passwordErr{
    color: red;
    font-size: small;
}
#confirmpasswordErr{
    color: red;
    font-size: small;
}
#genderErr{
    color: red;
    font-size: small;
}
.user{
    width: 100px;
    height: 100px;
    position: absolute;
    /* below line mention logo outside view the 50% */
    top: -0px;
    left: calc(50% - 50px);
    
    
}